@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
  box-sizing: border-box;
}

section {
  padding: 0 5%;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

.zero-margin {
  margin: 0;
}

.zero-bottom-margin {
  margin-bottom: 0;
}

.item {
  flex: 1;
}

.group {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

@media all and (min-width: 800px) {
  .group {
    flex-flow: row wrap;
  }
  .item {
    min-width: 34%;
    max-width: 50%;
  }
  section {
    padding: 0 10%;
  }
}

/* header ----------------------------------------------------------------------------------------------------*/

header {
  padding-top: 1em;
  z-index: 10;
}

header h2 {
  color: #ffffff;
  background-color: transparent;
}

header h2:hover {
  text-decoration: underline;
}

#nav-link1, #nav-link2, #nav-link3 {
  padding: 0.25rem;
  color: #ffffff;
  text-decoration: none;
}

/* outer space --------------------------------------------------------------------------------------------*/

#outer-space {
  background: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

#warning {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.1em;
  font-size: 1em;
  mix-blend-mode: difference;
  margin-top: 1em;
  text-align: center;
  color: #ffffff;
}

#spinner {
  border-radius: 50%;
  height: 38%;
  margin-top: 2.5em;
}

.downarrow {
  height: 1em;
  animation: downarrow 1s linear infinite alternate;
  display: block;
}

@keyframes downarrow {
  to {
    transform: translate(0, 1em);
  }
}

.overlay {
  position: absolute;
}

.overlay-1 {
  width: 20vw;
  height: 20vh;
  z-index: 10;
}

.overlay-2 {
  width: 30vw;
  height: 30vh;
  z-index: 9;
}

.overlay-3 {
  width: 35vw;
  height: 35vh;
  z-index: 8;
}

.overlay-4 {
  width: 40vw;
  height: 40vh;
  z-index: 7;
}

.overlay-5 {
  width: 45vw;
  height: 45vh;
  z-index: 6;
}

.overlay-6 {
  width: 50vw;
  height: 50vh;
  z-index: 5;
}

.overlay-7 {
  width: 55vw;
  height: 55vh;
  z-index: 4;
}

.overlay-8 {
  width: 60vw;
  height: 60vh;
  z-index: 3;
}

.overlay-9 {
  width: 65vw;
  height: 65vh;
  z-index: 2;
}

.overlay-10 {
  width: 70vw;
  height: 70vh;
  z-index: 1;
}

/* About ----------------------------------------------------------------------------------------------------*/

#about {
  background-color: antiquewhite;
}

#about p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  margin: 1.1em auto;
}

/* Projects ------------------------------------------------------------------------------------------------*/

#projects {
  background-color: #f8d5a7;
}

#projects p {
  font-family: 'roboto mono', monospace;
  font-weight: normal;
}

#projects img {
  border-radius: 2%;
  /* center image & adjust image size */
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* add max so image doesn't overflow */
  max-width: 90%;
}

.align-with-image {
  max-width: 86%;
  margin: auto;
}

.project-title-header {
  flex-basis: 75%;
  text-align: left;
}

.project-title {
  display: flex;
  align-items: flex-end;
}

.github-logo {
  height: 1.5em;
}

.tech-header {
  margin: 0 auto;
  font-style: normal;
}

/* Contact ------------------------------------------------------------------------------------------*/

#contact {
  background-color: antiquewhite;
}

#contact p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  margin: 1.1em auto;
}

ul, li {
  /* adjust font & spacing of paragraphs */
  text-align: left;
}

form {
  padding-left: 1em;
}

form label {
  display: block;
  margin-top: 1em;
}

form textarea, form input {
  width: 90%;
  max-width: 40ch;
}

form input[type=submit] {
  margin: 0.3em 0;
  display: block;
}