body {
    /* make body margin 0 to make sure no gaps in layout & add color */
    margin: 0;
    background: rgb(137, 166, 172);
}

p, ul, ol, li {
    /* adjust font & spacing of paragraphs */
    text-align: left;
    color: #ffffff;
}

header, footer {
    /* add color and add border to prevent gaps */
    background-color: #0292af;
    border: solid;
    border-color: #0292af;
}

h1, h2, h3, h4 {
    /* adjust font & alignment of headers */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

section {
    padding: 0.5%;
}

img {
    /* center image & adjust image size */
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* add max so image doesn't overflow */
    max-width: 90%;
}

#intro img {
    padding: 0.5%;
    /* add animation and make it circular */
    animation: rotation 15s infinite linear;
    border-radius: 50%;
}

#projects img {
    border-radius: 2%;
}

.zero-margin {
    margin: 0;
}

.zero-bottom-margin {
    margin-bottom: 0;
}

.group {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.item {
    flex: 1;
}

.align-with-image {
    max-width: 90%;
    margin: auto;
}

a:link {
    color: rgb(44, 23, 23);
}

a:visited {
    color: rgb(175, 23, 23);
}

a:hover {
    color: rgb(125, 23, 23);
}

a:active {
    color: rgb(245, 23, 23);
}

.bg-contrast {
    background-color: #0598b6;
}

.left-align {
    text-align: left;
}

/* define animation as rotating in full circle */

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@media all and (min-width: 768px) {
    .group {
        flex-direction: row;
        width: 80%;
    }
    #intro .group .item {
        height: 80%;
    }
}